* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  background: url(../images/tree-7835-mobile.jpg) 50% 0 no-repeat;
  background-size: cover;
  font-family: "proxima-nova-1", "proxima-nova-2", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 20px 0 0 0;
  text-align: center; }
  @media screen and (min-width: 960px) {
    body {
      background-image: url(../images/tree-7835.jpg); } }

h1 {
  font-family: "proxima-nova-extra-condensed-1", "proxima-nova-extra-condensed-2", sans-serif; }

a {
  color: #006e97;
  text-decoration: none; }
  a :link {
    color: #09f; }

form#mc-embedded-subscribe-form {
  display: block;
  float: left;
  margin-right: 4.82916%;
  width: 100%;
  padding: 20px 0; }
  form#mc-embedded-subscribe-form:last-child {
    margin-right: 0; }
  @media screen and (max-width: 568px) {
    form#mc-embedded-subscribe-form {
      display: block;
      float: left;
      margin-right: 7.42297%;
      width: 100%; }
      form#mc-embedded-subscribe-form:last-child {
        margin-right: 0; } }

div.field.email {
  display: block;
  float: left;
  margin-right: 4.82916%;
  width: 65.05695%; }
  div.field.email:last-child {
    margin-right: 0; }
  @media screen and (max-width: 568px) {
    div.field.email {
      display: block !important;
      display: block;
      float: left;
      margin-right: 7.42297%;
      width: 100%; }
      div.field.email:last-child {
        margin-right: 0; } }
div.field.submit {
  display: block;
  float: left;
  margin-right: 4.82916%;
  width: 30.11389%; }
  div.field.submit:last-child {
    margin-right: 0; }
  @media screen and (max-width: 568px) {
    div.field.submit {
      display: block;
      float: left;
      margin-right: 7.42297%;
      width: 46.28851%;
      margin-left: 26.85574%; }
      div.field.submit:last-child {
        margin-right: 0; } }

input.email {
  background: #ececec;
  border: none;
  border-radius: none !important;
  font-family: "proxima-nova-1", "proxima-nova-2", sans-serif;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding: 10px;
  width: 100%;
  -webkit-appearance: none !important; }

input.button {
  background: #006e97;
  border: none;
  border-radius: 0;
  color: #fff;
  font-family: "proxima-nova-extra-condensed-1", "proxima-nova-extra-condensed-2", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
  width: 100%;
  -webkit-appearance: none; }

.wrapper {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  height: auto;
  max-width: 100%;
  overflow: hidden; }
  .wrapper:before, .wrapper:after {
    content: " ";
    display: table; }
  .wrapper:after {
    clear: both; }
  .wrapper:before, .wrapper:after {
    content: " ";
    display: table; }
  .wrapper:after {
    clear: both; }
  @media screen and (max-width: 568px) {
    .wrapper {
      width: 568px; } }
  @media screen and (max-width: 480px) {
    .wrapper {
      width: 480px; } }
  @media screen and (max-width: 320px) {
    .wrapper {
      width: 320px; } }
  .wrapper img {
    width: 100%; }
    @media screen and (min-width: ip5) {
      .wrapper img {
        margin-left: -284px;
        width: 1136px; } }
    @media screen and (max-width: 480px) {
      .wrapper img {
        margin-left: -240px;
        width: 960px; } }
    @media screen and (max-width: 320px) {
      .wrapper img {
        margin-left: -160px;
        width: 640px; } }

h1 {
  margin: 0;
  padding: 0; }
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 36px; } }

.content {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%;
  *zoom: 1;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 20px; }
  .content:last-child {
    margin-right: 0; }
  .content:before, .content:after {
    content: " ";
    display: table; }
  .content:after {
    clear: both; }
  @media screen and (max-width: 568px) {
    .content {
      display: block;
      float: left;
      margin-right: 7.42297%;
      width: 100%;
      margin-left: 0%;
      padding: 0 40px; }
      .content:last-child {
        margin-right: 0; } }

@media screen and (max-width: 480px) {
  p {
    font-size: 16px; } }
p.intro {
  font-size: 24px; }
  @media screen and (max-width: 480px) {
    p.intro {
      font-size: 23px; } }

.footer {
  background: #00364b;
  bottom: 0;
  color: #ccc;
  font-size: 12px;
  padding: 20px 0;
  position: fixed;
  width: 100%; }
  .footer p {
    margin: 0;
    padding: 0; }
    @media screen and (max-width: 480px) {
      .footer p {
        font-size: 11px; } }
  .footer a {
    color: #ccc; }
    .footer a :hover {
      color: #fff; }
