$ip5: new-breakpoint(max-width 568px 4);
$mobile: new-breakpoint(max-width 480px 4);
$mobile-portrait: new-breakpoint(max-width 320px 4);
$desktop: new-breakpoint(min-width 960px 16);

$body-text: "proxima-nova-1","proxima-nova-2",sans-serif;
$titles: "proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2",sans-serif;

$blue-highlight:#09f;
$blue-mid:#006e97;
$blue-dark:#00364b;

$light-grey:#ececec;
$dark-grey:#cecece;