@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'variables';

html, body {
  height: 100%;
}
body {
  background:url(../images/tree-7835-mobile.jpg) 50% 0 no-repeat;
  @include media($desktop) {
    background-image:url(../images/tree-7835.jpg);
  }
  background-size:cover;
  font-family:$body-text;
  font-size:18px;
  margin:0;
  padding:20px 0 0 0;
  text-align:center;
}
h1 {
  font-family:$titles;
}
a {
  color:$blue-mid;
  text-decoration:none;
  :link {
    color:#09f;
  }
}
form#mc-embedded-subscribe-form {
  @include span-columns(6 of 6);
  padding:20px 0;
  @include media($ip5) {
    @include span-columns(4 of 4);
  }
}
div.field {
  &.email {
    @include span-columns(4 of 6);
    @include media($ip5) {
      display:block !important;
      @include span-columns(4);
    }
  }
  &.submit {
    @include span-columns(2 of 6);
    @include reset-display;
    @include media($ip5) {
      @include span-columns(2 of 4);
      @include shift(1);
    }
  }
}
input.email {
  background:$light-grey;
  border:none;
  border-radius:none !important;
  font-family:$body-text;
  font-size:18px;
  line-height:20px;
  margin:0;
  padding:10px;
  width:100%;
  -webkit-appearance: none !important;
}
input.button {
  background:$blue-mid;
  border:none;
  border-radius:0;
  color:#fff;
  font-family:$titles;
  font-size:18px;
  font-weight:600;
  line-height:20px;
  margin:0;
  padding:10px;
  text-transform:uppercase;
  width:100%;
  -webkit-appearance: none;
}
.wrapper {
  @include outer-container;
  @include clearfix;
  height:auto;
  max-width:100%;
  overflow:hidden;
  @include media($ip5) {
    width:568px;
  }
  @include media($mobile) {
    width:480px;
  }
  @include media($mobile-portrait) {
    width:320px;
  }
  img {
    width:100%;
    @include media(ip5) {
      margin-left:-284px;
      width:1136px;
    }
    @include media($mobile) {
      margin-left:-240px;
      width:960px;
    }
    @include media($mobile-portrait) {
      margin-left:-160px;
      width:640px;
    }
  }
}
h1 {
  margin:0;
  padding:0;
  @include media($mobile) {
    font-size:36px;
  }
}
.content {
  @include span-columns(6);
  @include shift(3);
  @include clearfix;
  background-color:rgba(255,255,255,0.5);
  padding:0 20px;
  @include media($ip5) {
    @include span-columns(4);
    @include shift(0);
    padding:0 40px;
  }
}
p {
  @include media($mobile) {
    font-size:16px;
  }
  &.intro {
    font-size:24px;
    @include media($mobile) {
      font-size:23px;
    }
  }
}
.footer {
  background:$blue-dark;
  bottom:0;
  color:#ccc;
  font-size:12px;
  padding:20px 0;
  position:fixed;
  width:100%;
  p {
    margin:0;
    padding:0;
    @include media($mobile) {
      font-size:11px;
    }
  }
  a {
    color:#ccc;
    :hover {
      color:#fff;
    }
  }
}